.profile {
    width: 100%;
    max-width: 500px;
    margin: 2em auto 1rem;
    padding: .5em;
    border: .3em solid cornflowerblue;
    border-radius: .5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: hsla(0, 0%, 94.1%, .8);
    box-shadow: 0 0 1em 0 #000;
    text-align: center;
}

.delete{
    background: cornflowerblue;
    color: white;
    border: 2px solid lightsteelblue;
    padding: 15px;
    width: 100px;
}

.profile h3 {
    text-decoration: underline;
}

.profile img {
    width: 7em;
    height: 7em;
    margin: auto;
    display: block;
}

.flex {
    display: flex;
}

.flex p:first-child {
    width: 35%;
    text-align: right;
    margin: .5em;
}

.flex p:last-child {
    width: 55%;
    text-align: left;
    margin: .5em;
    font-weight: bold;
}

.profile button {
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    outline: none;
}
