nav {
    background: cornflowerblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

a {
    text-decoration: none;
    color: white;
}

.left-container > ul {
    display: flex;
    text-align: center;
    color: white;
    list-style-type: none;
}

.right-container {
    text-align: center;
    margin: 0 5px;
    color: white;
}

.nav-btn {
    list-style-type: none;
    display: inline-block;
    border: 2px solid lightsteelblue;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
}

.nav-btn:hover {
    color: red;
    transform: scale(1.1);
    cursor: pointer;
}
