.register {
    background: cornflowerblue;
    color: white;
    border: 2px solid lightsteelblue;
    padding: 15px;
    width: 100px;
}

section {
    text-align: center;
    margin-top: 5px;
    position: relative;
    padding-bottom: 6px;
}

form {
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    width: 200px;
    border: 2px solid lightsteelblue;
    padding: 5px;
}